# Dependências instaladas via npm
/node_modules

# Arquivo de logs
*.log

# Arquivos de build ou output gerados durante o desenvolvimento
/build
/dist

# Arquivos de configuração locais
.env

# Arquivos de cache ou temporários
/.cache
/.tmp

# Qualquer arquivo específico para seu ambiente de desenvolvimento
*.env.local

# Arquivos de editor
.idea
.vscode

# Outros
.DS_Store
Thumbs.db
